<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Preference for the CustomEntity interface to include SEO attributes -->
    <preference for="Amadeco\SmileCustomEntitySeo\Api\Data\CustomEntitySeoInterface" type="Smile\CustomEntity\Model\CustomEntity" />

    <!-- Plugin to extend CustomEntity with SEO interface attributes -->
    <type name="Smile\CustomEntity\Model\CustomEntity">
        <plugin name="amadeco_smilecustomentityseo_custom_entity_plugin" type="Amadeco\SmileCustomEntitySeo\Plugin\CustomEntityPlugin" sortOrder="10" />
    </type>
</config>